body {
    min-height: 100vh;
    background: black;
}
#game-space{
    background: yellow;
    min-height: 80vh;
    border-radius: 10px;
    box-shadow: 10px;
}

#start-button {
    font-size: 26px;
    padding: 10px;
}

.container {
    padding-top: 10vh;
}

#trivia-header {
    margin-top: 50px;
}

#clock{
    margin-top: 50px;
}

.answer {
    cursor: pointer;
    padding: 1px;
}

.answer:hover {
    border: 1px solid black;
}

h1, h2, h3, #clock {
    text-align: center;
}

button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#image {
    /* position: relative; */
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.winning-image {
    max-height: 400px;
    /* max-width: 600px; */
}


.footer{
    position: relative;
    bottom: 0px;
    background: black;
    border-top: 2px groove red;
    /* border-bottom: 2px groove red; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    width: 100%;
}

form{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#github, #linkedin, #stack {
    z-index: 10;
    height: 30px;
    width: 30px;
    margin: 10px 2px;
}